a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('pic1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

/* //画面上部の帯部分 */

/* 動画一覧 */

.video-contents {
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.video-contents>.title {
  font-size: 5vh;
  color: #696969;
  line-height: 1.4;
  font-weight: bold;
}

.video-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #696969;
  font-weight: bold;
}

.video-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #f0f8ff;
}

.video-img-content {
  position: relative;
}

.video-img {
  width: 33vh;
  height: 33vh;
}

.video-info {
  background-color: #f0f8ff;
  color:  #696969;
  padding: 1vw;
}

.video-name {
  font-size: 2.5vh;
}

.company-name {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

/* //商品一覧 */